@font-face {
  font-family: "Metropolis";
  src: url("./assets/font/metropolis/Metropolis-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/font/metropolis/Metropolis-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/font/metropolis/Metropolis-SemiBold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/font/metropolis/Metropolis-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Metropolis", sans-serif;
  font-size: 1.2rem;
}
.leaflet-control-attribution {
  display: none;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

/* Pakai class ini supaya konten tidak terlalu lebar di layar besar */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}
